* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: lightgrey;
}

form {
    padding: 2rem;
    width: 40vw;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0.15rem 0.15rem 0.1rem 0.1rem lightslategrey;
}

input {
    width: 100%
}

button {
    padding: 0.25rem 0.75rem;
}

.column {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.name-column {
    flex-grow: 1;
    gap: 0.5rem;
}

.column-centered-centered {
    height: 100vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.row-right-justified {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

}

.text-error {
    color: red;
    font-style: italic;
    font-size: 0.75rem;
}

.input_and_error {
    flex-grow: 1;
}