<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add_client/style.css">
    <title>Add client</title>
</head>

<body>
    <main>
        <header>
            <h1>{{ first_name }} {{ last_name}}</h1>
            <span>Client id: {{ id }}</span>
        </header>
        <dl>
            <dt>Email address</dt>
            <dd>{{ email_address }}</dd>
            <dt>Telephone number</dt>
            <dd>{{ telephone_number }}</dd>
        </dl>
    </main>
</body>